<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>HBMainViewController</string>
		<key>isSelected</key>
		<false/>
		<key>defaultImage</key>
		<string>tab_mainpage_default</string>
		<key>selectedImage</key>
		<string>tab_mainpage_selected</string>
		<key>TabTitle</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>className</key>
		<string>HBMeViewController</string>
		<key>isSelected</key>
		<true/>
		<key>defaultImage</key>
		<string>tab_me_default</string>
		<key>selectedImage</key>
		<string>tab_me_selected</string>
		<key>TabTitle</key>
		<string>我的</string>
	</dict>
</array>
</plist>
